/*リセットCSS*/
html,
body {

    /* ブラウザによって表示されるデザインが違うので初期設定で余白を0にする */
    margin: 0;
    padding: 0;

    /*Arialがインストールされていない時にsans-serif（ゴシック体）で表示する*/
    font-family: Arial, sans-serif;
    background-color: rgb(255, 245, 228);

}



/* ヘッダー */

header {

    color: white;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 148, 148);
    display: flex;

    /* 「チャット作成」を中心に配置 */
    justify-content: center;

    /* 矢印マークがチャット作成と同じ高さで配置される */
    align-items: center;

}

/* 「チャット作成」 */
h1 {

    margin-top: 78px;
    font-size: 18px;

}

/*「矢印」*/
.backbutton {

    position: absolute;
    left: 17px;

    /* 矢印上の余白指定 */
    margin-top: 75px;

}

.headerimage {

    height: 24px;
    width: 24px;

}

/* ヘッダーEND */



/* メイン */

.bms_message_box {

    /*上下の吹き出しの隙間*/
    margin-top: 16px;

    /*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にするやつらしい*/
    max-width: 100%;

    /* 文字サイズ */
    font-size: 14px;
}


.bms_message_content {

    /* 文字を真ん中に表示 */
    padding: 20px;

}


.bms_left .bms_message_box {

    /*左寄せ*/
    float: left;
    line-height: 1.3em;

    /* 文字・字背景色指定 */
    color: rgb(255, 148, 148);
    background-color: white;

    /* なんか吹き出しっぽくするやつらしい */
    border-radius: 30px 30px 30px 0px;
    margin-right: 50px;
}

/* メッセージ（右側） */
.bms_right .bms_message_box {

    /*右寄せ*/
    float: right;
    line-height: 1.3em;

    /* 文字・字背景色指定 */
    color: #fff;
    background: rgb(255, 148, 148);

    /* なんか吹き出しっぽくするやつらしい */
    border-radius: 30px 30px 0px 30px;
    margin-left: 50px;

}

/* メインEND */



/* フッター */

footer {

    padding: 16px;
    font-size: 14px;
    width: 100%;
    height: 94px;
    background-color: rgb(255, 148, 148);
    /*←絶対位置(下)*/
    position: absolute;
    /*下に固定*/
    bottom: 0;

}

/*.message {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#message1 {

    /*常に送信ボタンの横幅を引いたサイズに動的に計算するらしい*/
    width: calc(100% - 75px);

    /*文字がテキストエリアの中心になる様に隙間調整*/
    line-height: 16px;
    height: 48px;
    padding: 14px 6px 0px 6px;

    /*角丸・枠なし*/
    border: none;
    border-radius: 24px;

    /*文字を左寄せ*/
    text-align: left;

    /*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）らしい*/
    box-sizing: border-box;

}

.sendbutton {
    /* 送信ボタンサイズ指定 */
    width: 48px;
    height: 48px;
}

/* フッターEND */